<h1>Animals</h1>

<p class = "btn--wrapper"
>
<a class="btn btn--action" href="animals/new">Add a New Animal</a>

<a class="btn btn--action" href="animals/delete">Delete an Animal</a>

<table>
<tr>
<th>Name</th>
<th> Admission Date</th>
<th> Adoptable</th>
<th> Type</th>
</tr>
<% for animal in @animals %>
<tr>
<td><%= animal.name %></td>
<td><%= animal.admission_date%></td>
<td><%= animal.adoptable.to_s == "t" ? "Yes" : "No"%></td>
<td><%= animal.type %></td>
</tr>


<%end%>
</table>


