<form method="post" action="/animals/new">  
<label for="name">Name:</label>
    <input id="name" type="text" name="name" />
  

  <label for="admission-date">Admission Date:</label>
    <input id="admission-date" type="text" name="admission-date">

   
  <label for="adoptable">Select whether adoptable:</label>
    <select id="-select" name="adoptable">
      <option value="TRUE">Yes</option>
     <option value="FALSE">No</option>
     

  <label for="type">Select a type:</label>
    <select id="-select" name="type">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
      
    
  
  <input type='submit' value="Create Animal"/>
</form>