<h1>Adoptions</h1>



<div>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/adoptions/new">Add a New Adoption</a>
</p>
</div>

<table>
<tr>
<th>Animal Name</th>
<th></th>
<th>Owner Name</th>
<th></th>
<th>Delete</th>
</tr>
<% for adoption in @adoptions %>
<tr>
<td><%= adoption.animal.name %></td>
<td></td>
<td><%= adoption.owner.name %></td>
<td></td>
<td><form action="/adoptions/<%=adoption.id %>/delete" method="POST">
      <input class="btn btn--delete" type="submit" value="delete" /></form></td>
      </tr>
      <% end %>
      </table>

