<!DOCTYPE html>
<html>
<head>
<title>Scottish Animal Shelter</title>
</head>
<body>
<main>
<nav>
<ul>
<li>
<a href="/adoptions">Adoptions</a> <a href="/animals">Animals</a> <a href="/owners">Owners</a>
</li>


</ul>
</nav>
<section id="content">
<%=yield%>
</section>
</main>
</body>
</html>