table {
  
  text-align: center;
  margin:0 auto;
  width: 1000px;
}

html
{

  font-family: verdana;
}

#navigation
{

  margin:0 auto;
  background-color:#d3d3d3;
  height:55px;
  text-align: center;

}

nav ul
{
  text-align: center;
}


ul li
{

  display: inline-block;
  margin:5px;
  padding:10px;
  background-color:#333;
  border:1px solid #f7e920;
  width:150px;
  text-align: center;
}

ul li a
{
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  text-align: center;
  margin:0 auto;
}


td {
: center;

}

h1 {
  text-align: center;
  background-image: url("/images/Banner.jpg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 100px;
  display: block;
  color: white;
}

h2 {
text-align: center;
}

p {

  text-align: center;
}

ul button center {
  text-align: center;
}