<h2>Owners</h2>

<div>

<ul>
  <li><a href="/owners/new">Add a New Owner</a></li>
</ul>

</div>
<div class="table_div">
<table id="owners">
<thead>
<tr>
<th>Name</th>
<th>Telephone Number</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<%for owner in @owners %>
<tr>
<td><a href="/owners/<%=owner.id%>"><%=owner.name%></a>
</td>
<td><%= owner.telephone_number%></td>


<td><form action="/owners/<%=owner.id %>/delete" method="POST">
     <input class="btn btn--delete" type="submit" value="Delete" /></td></form></td>
     </tr>
     <% end %>
     </tbody>
     </table>
</div>


     