<h1>Owners</h1>
<div>
<p class = "btn--wrapper">
<a class="btn btn--action" href="owners/new"> Add a New Owner</a>
</p>
</div>

<table>
<tr>
<th>Owner Name</th>
<th></th>
<th>Delete</th>
</tr>
<%for owner in @owners %>
<tr>
<td><a href="/owners/<%=owner.id%>"><%=owner.name%></a>
</td>
<td></td>
<td><form action="/owners/<%=owner.id %>/delete" method="POST">
     <input class="btn btn--delete" type="submit" value="Delete" /></td></form></td>
     </tr>
     <% end %>
     </table>
