<h1>Owners</h1>

<p class = "btn--wrapper">
<a class="btn btn--action" href="owners/new"> Add a New Owner</a>

<a class="btn btn--action" href="adoptions/delete">Delete an Owner</a>

<table>
<tr>
<th>Name</th>
</tr>
<% for owner in @owners %>
<tr>
<td><%= owner.name %></td>
</tr>
<%end%>
</table>