<form action="new" method="post"> 
<label for="name">Name:</label>
    <input id="name" type="text" name="name" />

    <label for="address">Address:</label>
    <input id="address" type="text" name="address"/>

    <label for="telephone-number">Telephone Number:</label>
    <input id="telephone-number" type="text" name="telephone_number"/>
  
      <input type='submit' value="Create Owner"/>
</form>