<h3>Owner Name</h3> <p><%= @owner.name %></p>
<h3>Adopted Animals</h3>

<%for adoption in @adoptions%>
<p><%=adoption.animal_name%></p>
<%end%>


<h3>About Me</h3>
<p class="about"><%= @owner.about_owner %></p>

